@use "colors";
@use "mixins";

body{
    background: colors.$gradient;
    min-height: 100vh;
    @include mixins.flexcenter;
    flex-direction: column;
    justify-content: flex-start;
    padding: 4rem;
    font-family: 'Noto Sans', sans-serif;
}

