@use 'colors';
@use 'fonts';

%cta{
    width: 11rem;
    padding: 1rem;
    font-size: 78%;
    background: colors.$pink;
    border: none;
    color: colors.$font-color;
    border-radius: 0.5rem;
    text-transform: uppercase;
}

%cta:hover{
    cursor:pointer;
    background: darken(colors.$pink, 10%);
    transition: 0.2s;
}

//h2

%h2handwriting{
    font-family: fonts.$handwriting;
    font-size: 380%;
    color: colors.$font-color;
}

//default

%section{
    padding-top: 4rem;
    padding-bottom: 4rem;
    height: 90rem;
    border-bottom: colors.$border-pink-small;
}

%header{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 4rem;
}

%icon{
    font-size: 250%;
    color: colors.$font-color;
    border: colors.$border-pink;
    border-radius: 50%;
    padding: 1.5rem;
}
